<a href="https://akademie.datamics.com/kursliste/">![title](https://github.com/FranjoHHZ/Logistic-Regression/blob/main/Logistic%20Regression/bg_datamics_top.png?raw=1)</a><center><em>© Datamics</em></center><br><center><em>Besuche uns für mehr Informationen auf <a href='https://akademie.datamics.com/kursliste/'>www.akademie.datamics.com</a></em>

# Logistische Regression Projekt - Lösung

In diesem Projekt werden wir mit Fake-Daten zu Werbung arbeiten, die aufzeigen, ob ein Nutzer auf eine Werbeanzeige auf einer Webseite einer Firma geklickt hat oder nicht. Wir werden versuchen ein Modell zu erstellen, das anhand von Nutzereigenschaften vorhersagt, ob dieser auf die Werbung klicken wird oder nicht.

Der Datensatz beinhaltet folgende Eigenschaften:

* 'Daily Time Spent on Site': Zeit auf der Webseite in Minuten
* 'Age': Alter in Jahren
* 'Area Income': Durchschnittliches Einkommen der Region des Nutzers
* 'Daily Internet Usage': Durchschnittliche Minutenzahl die der Nutzer täglich im Internet ist
* 'Ad Topic Line': Überschrift der Werbung
* 'City': Stadt des Nutzers
* 'Male': Ob der Nutzer männlich ist (1) oder nicht (0)
* 'Country': Land des Nutzers
* 'Timestamp': Zeit zu der der Nutzer auf die Werbung geklickt oder das Fenster geschlossen hat
* 'Clicked on Ad': Ob der Nutzer gelickt hat (1) oder nicht (0)

## Libraries importieren

In [6]:
!git clone https://github.com/FranjoHHZ/Logistic-Regression.git
%cd Logistic-Regression

fatal: destination path 'Logistic-Regression' already exists and is not an empty directory.
/content/Logistic-Regression/Logistic-Regression

In [2]:
!pip install -r requirements.txt

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Die Daten

**Lese die advertising.csv Datei ein und erstelle einen DataFrame namens ad_data.**

In [9]:
ad_data = pd.read_csv('Advertising.csv')

**Überprüfe den Beginn des DataFrames.**

In [10]:
ad_data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

**Wende info() und describe() auf ad_data an.**

In [11]:
ad_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [ ]:
ad_data.describe()

## Explorative Datensanalyse

Verwende Seaborn, um die Daten zu erforschen.

Versuche dazu die dargestellten Plots nachzustellen!

**Erstelle ein Histogramm von Alter (en. Age).**

In [ ]:
# Dein Code hier
# Sonst überschreibst du das Diagramm

In [ ]:
sns.set_style('whitegrid')
ad_data['Age'].hist(bins=30)
plt.xlabel('Age')

**Erstelle ein Jointplot, das "Area Income" mit "Age" vergleicht.**

In [ ]:
# Dein Code hier
# Sonst überschreibst du das Diagramm

In [ ]:
sns.jointplot(x='Age',y='Area Income',data=ad_data)

**Erstelle ein Jointplot, das die KDE Verteilung von "Daily Time Spent on Site" gegen "Age" aufzeichnet.**

In [ ]:
# Dein Code hier
# Sonst überschreibst du das Diagramm

In [ ]:
sns.jointplot(x='Age',y='Daily Time Spent on Site',data=ad_data,color='red',kind='kde');

**Erstelle ein Jointplot für "Daily Time Spent On Site" gegen "Daily Internet Usage".**

In [ ]:
# Dein Code hier
# Sonst überschreibst du das Diagramm

In [ ]:
sns.jointplot(x='Daily Time Spent on Site',y='Daily Internet Usage',data=ad_data,color='green')

**Und zum Schluss erstelle noch ein Pairplot mit "Clicked on Ad" als Hue.**

In [ ]:
# Dein Code hier
# Sonst überschreibst du das Diagramm

In [ ]:
sns.pairplot(ad_data,hue='Clicked on Ad',palette='bwr')

## Logistische Regression

Jetzt ist es Zeit, um unsere Daten in Trainings- und Testset aufzuteilen. So können wir unser Modell trainieren.

Du hast die Wahl der Spalten, die du verwenden möchtest!

**Teile die Daten in Trainings- und Testset auf.**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = ad_data[['Daily Time Spent on Site', 'Age', 'Area Income','Daily Internet Usage', 'Male']]
y = ad_data['Clicked on Ad']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

**Trainiere und fitte ein logistisches Regressionsmodell auf das Trainignsset.**

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

## Vorhersagen und Auswertung

**Sage jetzt die Werte für die Testdaten voraus.**

In [ ]:
predictions = logmodel.predict(X_test)

**Erstelle einen Klassifizierungsreport für das Modell.**

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test,predictions))

# Gut gemacht!